/*  IMPORTS
========================== */

@import 'partials/colors-materialDark';

/*  COLOR VARIABLES
========================== */

$clr-primary: $clr-crol;
$clr-primaryLT: $clr-crol;
$clr-primaryDK: $clr-crol;
$clr-success: $clr-green;
$clr-successLT: $clr-greenLT;
$clr-successDK: $clr-greenDK;
$clr-warning: $clr-yellow;
$clr-warningLT: $clr-yellowLT;
$clr-warningDK: $clr-yellowDK;
$clr-danger: $clr-red;
$clr-dangerLT: $clr-redLT;
$clr-dangerDK: $clr-redDK;
$clr-info: $clr-lightblue;
$clr-infoLT: $clr-lightblueLT;
$clr-infoDK: $clr-lightblueDK;