/*  BACKGROUNDS
==================================== =*/

.bg-crol {
  color: #FFF;
  background-color: $clr-crol !important;
}



.bg-orange {
  color: #FFF;
  background-color: $clr-orange !important;
}

.bg-green {
  color: #FFF;
  background-color: $clr-green !important;
}



.bg-red {
  color: #FFF;
  background-color: $clr-red !important;
}

.bg-pink {
  color: #FFF;
  background-color: $clr-pink !important;
}

.bg-blue {
  color: #FFF;
  background-color: $clr-blue !important;
}


.bg-yellow {
  color: #FFF;
  background-color: $clr-yellow !important;
}