

/*  CHECKBOXES & RADIOBUTTONS & TOGGLES
============================================== */
.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  //color: $clr-carbon;
  input {
    position: absolute;
    opacity: 0;
  }
  span.icon {
    position: relative;
    height: 18px;
    width: 18px;
    border:1px solid $clr-grey;
  }
  &:hover input ~ span.icon {
    border-color: $clr-grey;
  }
  input:checked ~ span.icon {
    background-color: $clr-primary;
    border-color: $clr-primary;
  }
  &:hover input:checked ~ span.icon {
    border-color: $clr-primary;
  }
  span.icon:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ span.icon:after {
    display: block;
  }
  span.icon:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  span.text {
    margin-left: 5px;
    font-weight: 300 !important;
  }
}
.radio {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  color: $clr-carbon;
  input {
    position: absolute;
    opacity: 0;
  }
  span.icon {
    position: relative;
    height: 18px;
    width: 18px;
    border:1px solid $clr-grey;
    border-radius: 50%;
  }
  &:hover input ~ span.icon {
    border-color: $clr-grey;
  }
  input:checked ~ span.icon {
    background-color: $clr-primary;
    border-color: $clr-primary;
  }
  &:hover input:checked ~ span.icon {
    border-color: $clr-primary;
  }
  span.icon:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ span.icon:after {
    display: block;
  }
  span.icon:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
  span.text {
    margin-left: 5px;
    font-weight: 300 !important;
  }
}
// .radio {
//   display: inline-block;
//   position: relative;
//   padding-top: 0 !important;
//   padding-left: 25px;
//   margin-top: 6px !important;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 13px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   font-weight: 400;
//   text-transform: uppercase;
//   input {
//     position: absolute;
//     opacity: 0;
//   }
//   span {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 18px;
//     width: 18px;
//     border: 1px solid $clr-greyDK;
//     border-radius: 50%;
//   }
//
//   &:hover input ~ span {
//     border-color: $clr-grey;
//   }
//
//   input:checked ~ span {
//     background-color: $clr-primary;
//     border-color: $clr-primary;
//   }
//
//   &:hover input:checked ~ span {
//     border-color: $clr-primary;
//   }
//
//   span:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
//
//   input:checked ~ span:after {
//     display: block;
//   }
//
//   span:after {
//     top: 5px;
//     left: 5px;
//     width: 6px;
//     height: 6px;
//     border-radius: 50%;
//     background: white;
//   }
// }

input[type=checkbox] {
  $sw-height: 30px;
  $sw-width: 51px;
  &.toggle{
    opacity: 0; position:absolute; left: -9999px;
    & + label{
      user-select: none;
      transition: .2s ease;
      display: inline-block;
      height: $sw-height;
      width: $sw-width;
      position:relative;
      box-shadow: inset 0 0 0px 2px #e4e4e4;
      border-radius: 60px;
      background-color: rgba(255,255,255,0.5);
      cursor: pointer;
      &:before{
        content: "";
        position: absolute;
        display: block;
        height: $sw-height;
        width: $sw-height;
        top: 0;
        left: 0;
        border-radius: $sw-height/2;
        background: rgba(76,217,100,0);
        transition: .2s cubic-bezier(.24,0,.5,1);
      }

      /* White toggle */
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 28px;
        width: 28px;
        top: 50%;
        margin-top:-14px;
        left: 1px;
        border-radius: 60px;
        background: #fff;
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0,0%,0%,.04), 0 4px 9px hsla(0,0%,0%,.13), 0 3px 3px hsla(0,0%,0%,.05);
        transition: .35s cubic-bezier(.54,1.60,.5,1);
        }
      span{
        white-space:nowrap;
        height:$sw-height;
        line-height:$sw-height;
        margin-left: $sw-width;
        padding-left:16px;
      }
    }
    &:checked{
      & + label:before {
        width: $sw-width;
        background: $clr-success;
        transition: width .2s cubic-bezier(0,0,0,.1) !important;
      }

      & + label:after{
        left: $sw-width - $sw-height + 1;
      }

      & + label{
        box-shadow: inset 0 0 0px 25px #e4e4e4;
        transition: box-shadow 2.5s cubic-bezier(0,1.2,.94,.95)}
    }
  }
}
